.monview {
  margin-top: -20px;
  margin: auto;
  max-width: 1220px;
}
.card-contain{
  display: flex;
  flex-direction: column;
  /* height: 100px; */
}
.monster-div1 {
  margin: auto;
  margin-top: 0px;
  height: 250px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:space-between;
  margin: auto;
  flex-wrap: wrap;
  color: white;
}
.monster-card1 {
  margin: 0px;
  padding-right: 5px;
  width: 100%;
  max-width: 1050px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.monster-card1:hover{
  cursor: pointer;
}
.arrowdown{
  color: white;
  font-size: 1.4rem;
  margin-left: 3px;
}
.monster-card2 {
  box-shadow: inset 1px 1px 5px 1px rgb(29, 29, 29);
  background-color: #3a4253;
  border: 2px solid #D1AE78;
  margin-top: 5px;
  height: 40px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.monster-card2 p {
  width: 230px;
  font-size: 1.8rem;
}
.monster-card2:hover {
    box-shadow: inset 1px 1px 5px 1px rgba(22, 22, 22, 0.993);
  cursor: pointer;
  background-color: #934446;
}


.monster-pic1 {
      box-shadow: 1px 1px 5px 1px rgba(22, 22, 22, 0.993);
  margin: auto;
  border-right: 2px solid #D1AE78;
  width: 247px;
  height: 247px;
  padding: 1px;
}

.monster-pic2 {
  margin: auto;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding-top: 1px;
  padding-left: 1px;
}
.cr{
  display: flex;
  align-items: center;
}
.cr1{
    display: block;
  }
.cr2{
  display: none;
}

.abilities{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  height: 246px;
}

.ability-div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 97%;
  padding: 10px;
}
.ability-div h1{
  font-size: 2rem;
  color: #55150F;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #55150f;
}
.ability-div p{
  color: rgb(15, 15, 15);
  font-size: 1.5rem;
  max-width: 650px;
  padding-bottom: 3px;
}
.ability-div strong{
  color: rgb(85, 22, 22);
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: underline;
  display: table;
}
.ability{
  width: 60%;
  padding-right: 10px;
  overflow: scroll;
  overflow-x:hidden;
  overflow-y: auto;
}
.ability2{
  /* width: 600px; */
  width: 45%;
  margin-left: 10px;
   padding-right: 10px;
  overflow: scroll;
  overflow-x:hidden;
  overflow-y: auto;
}
.arrowright{
  width: 30px;
  height: 30px;
  align-self: center;
  z-index: 20;
  color: rgb(247, 247, 247);
}
.arrowright:hover{
  cursor: pointer;
  color: #55150f;
}
.toggle1{
    border: 2px solid #D1AE78;
  box-shadow: inset 1px 1px 10px 3px rgb(29, 29, 29);
  max-height: 250px;
  position: relative;
  transition: all ease-in-out 1.2s;
  margin-top: 5px;
  display: none;
  background-image: url("../images/paper.jpg");
  background-size: 100% 800px;
}
.monster-div2 {
  max-width: 1400px;
  padding-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  color: white;
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.mon-div-stats {
  margin: auto;
  border: 2px solid #D1AE78;
  width: 99.8%;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.mon-div-stats p {
  margin-left: 15px;
  margin-right: 45px;
  font-size: 2rem;
  text-align: center;
}

.mon-div-stats:hover p {
  cursor: pointer;
}

.select {
  margin-right: 5px;
}

.select-mon h3 {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5rem;
  text-align: center;
}

.other-skills{
  width: 100%;
  height: 235px;
  max-width: 450px;
 align-self: flex-end;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   padding: 5px;
   margin-right: 5px;
}
.monster-title01 {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.monster-title01 h2 {
  border-bottom: 2px solid #55150f;
  text-shadow: 1px 1px 1px #000000;
  padding-bottom: 2px;
  font-size: 2.4rem;
}
.monster-title01 p {
  color: rgb(0, 0, 0);
  margin-top: -5px;
  margin-bottom: 5px;
  justify-self: flex-start;
  align-self: flex-start;
  font-size: 2rem;
}
.skill-div{
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* border: 1px solid green; */
}
.skill-set{
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.skill-set2{
  width: 48%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.skill{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.skill-name{
  text-decoration: underline;
 color: #55150f;
 font-weight: bold;
 font-size: 1.8rem;
}
.skill-name1{
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.monster-info1{
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  text-align: center;
  max-width: 275px;
  height: 90%;
}
.stat-title1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0px;
    color:black;
}
.stat{
  color:white;
  font-size: 1.5rem;
  background-color: #55150F;
}
.sort-button {
  text-align: center;
  color: white;
  background-color: rgb(151, 69, 69);
  box-shadow: inset 1px 1px 1px black;
  border: 2px solid #D1AE78;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 3px;
}

.total-mon {
  display: flex;
  justify-content: space-evenly;
  width: 120px;
  margin: auto;
  color: white;
  margin-top: 40px;
  font-size: 2.5rem;
}

.sort-button:hover {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .mon-div-stats p {
    margin-left: 15px;
    margin-right: 45px;
    font-size: 1.5rem;
    text-align: center;

  }

  .monster-pic2 {
    display: none;

  }

  .monster-card2 p {
    font-size: 1.5rem;
    width: 140px;
  }

}

@media (max-width: 1050px) {
  .mon-div-stats p {
    margin-left: 15px;
    margin-right: 45px;
    font-size: 1.5rem;
    text-align: center;

  }

  .monster-card2 p {
    font-size: 1.5rem;
  }

  .monster-card2 {
    box-shadow: 1px 1px 5px 1px rgb(29, 29, 29);
    background-color: #3a4253;
    border: 2px solid #D1AE78;
    margin-top: 5px;
    height: 40px;
    display: flex;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 880px) {
  .monster-card1 {
    box-shadow: none;
    background-color: #16161800;
    border: none;
    text-align: center;
    margin: 5px;
    width: 295px;
    display: flex;
    flex-direction: column;
  }
  .monster-title01 h1 {
text-shadow: 1px 1px 1px #000000;
  padding-bottom: 2px;
  font-size: 2.2rem;
  width:initial;
  margin-left: 0px;
}
.monster-title01 h5 {
  width: 238px;
  margin-left: -10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-bottom: -13px;
  color: white;
}
  .monster-div1 {
    margin: auto;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    color: white;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .exp-div5 {
    border-bottom: 1px solid rgb(190, 190, 190);
    width: 85%;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
  }

  .exp-div6 {
    width: 100%;
    padding-top: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .monster-pic1 {
     /* border-bottom: 2px solid #D1AE78; */
    margin: auto;
    border-right: none;
    width: 290px;
    height: 232px;
    padding: 1px;
  }
}

@media (max-width: 700px) {
.cr1{
    display: none;
  }
.cr2{
  display: block;
}
  .mon-div-stats p {
    width: 75px;
    display: flex;
    align-items: center;
    margin-left: 1px;
    margin-right: 5px;
    font-size: 1.2rem;
    text-align: center;
  }

  .monster-card2 p {
    width: 75px;
    font-size: 1rem;
  }
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0.205);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
