.img-div{
  width: 200px;
  height: 200px;
}

.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: 'Yesteryear', cursive;
  font-weight: 500;
  line-height: 1.1;
}

.card_1s {
  padding: 100px 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.card_1 {
  max-width: 300px;
  margin-bottom: 30px;
  margin-right: 1%;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card_1 {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card_1 {
    width: 100%;
  }
}
.card_1:hover .card_1__inner {
  background-color: #949fb0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.card_1__inner {
  max-width: 320px;
  position: relative;
  cursor: pointer;
  background-color: #3a4253;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card_1__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card_1__inner .fa {
  width: 100%;
  margin-top: .25em;
}
.card_1__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  font-size: 1.5em;
}
.card_1__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card_1__expander .fa:hover {
  opacity: 0.9;
}
.card_1.is-collapsed .card_1__inner:after {
  content: "";
  opacity: 0;
}
.card_1.is-collapsed .card_1__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.card_1.is-expanded .card_1__inner {
  background-color: #1abc9c;
}
.card_1.is-expanded .card_1__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card_1.is-expanded .card_1__inner .fa:before {
  content: "\f115";
}
.card_1.is-expanded .card_1__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.card_1.is-expanded:hover .card_1__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.card_1.is-inactive .card_1__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card_1.is-inactive:hover .card_1__inner {
  background-color: #949fb0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card_1:nth-of-type(3n+2) .card_1__expander {
    margin-left: calc(-100% - 30px);
  }

  .card_1:nth-of-type(3n+3) .card_1__expander {
    margin-left: calc(-200% - 60px);
  }

  .card_1:nth-of-type(3n+4) {
    clear: left;
  }

  .card_1__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card_1:nth-of-type(2n+2) .card_1__expander {
    margin-left: calc(-100% - 30px);
  }

  .card_1:nth-of-type(2n+3) {
    clear: left;
  }

  .card_1__expander {
    width: calc(200% + 30px);
  }
}

@media (max-width: 625px){
  .card_1s {
    padding-top: 200px;
  }
}
