html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// General Styles

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

a {
	text-decoration: none;
	color: black;
}

body {
	background-color: #ececec;
}

p {
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
}
.player{
	display: flex;
	justify-content: space-between;

	align-items: center;
	color: white;
    background-color: rgb(151, 69, 69);
    box-shadow: inset 1px 1px 1px black;
    border: 2px solid #D1AE78;
    padding: 5px;
    margin-right: 2px;
    width: 72px;
    font-size: 1.5rem;
}
  .exp-div2{
    border-top: 1px solid rgb(99, 99, 99);
    padding-top: 10px;
    margin: auto;
	justify-content: space-between;
	align-content: space-between;
    width: 70%;
  }
  .exp-div3{
      padding-bottom: 15px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      text-align: left;
  }
  .exp-div3 h5{
      justify-self: center;
      font-size: 2rem;
      text-align: left;
     
  }
   .monster-title4{
    color: rgb(218, 188, 22);
	margin-bottom: -1px;
	margin-left: 2px;
    font-size: 2rem;
  }
  .monster-title3{
    color: #D1AE78;
	margin-bottom: -1px;
	margin-left: 2px;
    font-size: 1.55rem;
  }

.sword{
	height:18px;
	width: 18px;
}
.app-container{
	background-color: #3a4253;
	height: 100vh;
}