.nav-container{
        height: 60px;
    	background-color: #3a4253;
    	border-bottom: 2px solid #D1AE78;
    	box-shadow: 1px 1px 5px 1px rgb(29, 29, 29);
    	position: fixed;
    	top: 0;
    	width: 100%;
    	z-index: 1;
    	display: flex;
        justify-content: space-between;
    	align-items: center;
    }
    .dnd-img {
    width: 40px;
    margin-left: 5%;
    margin-bottom: -4px;
    }
    .nav-container span{
        	color: white;
    		margin-left: 20px;
    		font-size: 2rem;

    }
    .nav-container a {
        text-decoration: none;
    }
    .nav-container span:hover {
        color: rgb(255, 218, 7);
    }
    .nav-title{
        width: 500px;
        margin-left: 20px;
        display: inline-block;
    }
    .nav-list{
        display: flex;
        margin-right: -0px;
        width: 200px;
        justify-content: space-evenly;
    }
    .nav-list p{
        text-decoration: none;
        font-style: none;
        font-size: 2rem;
        display: flex;
        color: white;
        margin-top: 18px;
    }
    .nav-list:hover p{
        transition: all ease-in-out .2s;
        color: rgb(255, 218, 7);
        cursor: pointer;
    }
    @media (max-width: 625px){
    .nav-container .dnd-img{
        display:none;
    }
    .nav-container a {
        margin-top:20px;
    }
    .nav-title{
        width: 300px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .nav-list{
        display: flex;
        margin-left: -25px;
        width: 200px;
        justify-content: space-evenly;
    }
    @media (max-width: 625px){
        .nav-container {
            height: 150px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .nav-container a {
            text-align: center;
        }
    }
}

